/*#region Global Variables */
/*new variables*/
/*#endregion */
/*#region classes and id for css */
body {
  background-image: url(../images/lightdottedbackground.png) !important;
}
.quickLinksLabel,
.links {
  color: #000000;
}
.linkDisabled {
  color: #d9d9d9;
}
/*#region Login Style */
.pageHeader {
  background-color: #586d7c !important;
}
.pageFooter {
  background-color: #586d7c !important;
}
.welcomeText {
  color: #5d6c7f !important;
}
.loginBackground {
  background-color: #c7c0b5 !important;
}
.loginHotButton {
  background-color: #3a78bd !important;
}
.loginLinks {
  color: #3a78bd !important;
}
/*#endregion */
/*#region Navigation Styles */
.navBackground {
  border-bottom: 1px solid black;
  background-color: #004b98 !important;
}
.whiteDownCaret:after {
  border-top-color: #004b98 !important;
}
.open .whiteDownCaret::before {
  top: 13px !important;
  /*border-top-color: @menuBackground !important;*/

  border-top-color: transparent !important;
  border-bottom-color: #000000 !important;
}
.open .whiteDownCaret:after {
  border-top-color: transparent !important;
  border-bottom-color: #004b98 !important;
}
.loginName:hover .whiteDownCaret::after {
  border-top-color: #3c63ab !important;
}
.open .loginName:hover .whiteDownCaret::after {
  border-top-color: transparent !important;
  border-bottom-color: #3c63ab !important;
}
.menuBackground {
  background-color: #004b98;
  color: #ffffff;
}
.menuBtn {
  border-right: 1px solid #DFE1E6;
  background: #004b98;
  color: #ffffff;
}
.menuBtn:hover {
  background-color: #3c63ab;
  color: #ffffff;
}
.menuBtn.hover {
  background-color: #3c63ab;
  color: #ffffff;
}
.menuBtnClick,
.menuBtnClick:hover {
  background-color: #3c63ab;
  color: #ffffff;
}
#subMenuList {
  background-color: #004b98;
  color: #ffffff;
}
#subMenuList:hover,
#subMenuList:active {
  background-color: #004b98;
  color: #004b98;
}
#subMenuList > li {
  background: #3c63ab;
  color: #ffffff;
}
#subMenuList > li > a,
#subMenuList > li > a > span {
  color: #ffffff;
}
#subMenuList > li > a:hover,
#subMenuList > li > a:hover span {
  border-bottom: 0px;
  background: #004b98;
  color: #ffffff !important;
}
#myaccountSubMenu > li {
  background: #3c63ab;
  color: #ffffff;
}
#myaccountSubMenu > li > a,
#myaccountSubMenu > li > a > span {
  color: #ffffff;
}
#myaccountSubMenu > li > a:hover,
#myaccountSubMenu > li > a:hover span {
  background: #004b98;
  color: #ffffff !important;
}
.loginName {
  background: #004b98;
  color: #ffffff;
}
.loginName:hover {
  background-color: #3c63ab;
  color: #ffffff;
}
.loginName.active,
.loginName:hover,
.open .loginName,
.LoginNameSubMenuClick {
  background-color: #3c63ab;
  color: #ffffff;
}
.menuIcon {
  background-color: #004b98 !important;
}
.homeIcon {
  border-right: 1px solid #DFE1E6;
  border-left: 1px solid #DFE1E6;
}
.homeIcon:hover,
.homeIcon:active {
  background-color: #3c63ab;
}
#homeMenuText {
  color: #000000 !important;
}
#homeImage {
  background-image: url(../images/icons_home1.png) !important;
  background-repeat: no-repeat;
}
.accountName {
  color: #ffffff;
}
#searchIcon {
  background-image: url(../images/icon_search2.png);
  background-repeat: no-repeat;
}
#resourcesIcon {
  background-image: url(../images/icon_resources1.png);
  background-repeat: no-repeat;
}
#calculatorIcon {
  background-image: url(../images/icon_calculator1.png);
  background-repeat: no-repeat;
}
#searchIcon:hover {
  background-image: url(../images/icon_search1.png);
  background-repeat: no-repeat;
}
#resourcesIcon:hover {
  background-image: url(../images/icon_resources2.png);
  background-repeat: no-repeat;
}
#calculatorIcon:hover {
  background-image: url(../images/icon_calculator2.png);
  background-repeat: no-repeat;
}
#arrowIcon {
  background-image: url(../images/icon_expandarrow2.png) !important;
  background-repeat: no-repeat;
}
.whiteDownCaret:before {
  border-top-color: #000000 !important;
}
#CRImage {
  background-image: url(../images/CRlogo2.png) !important;
}
#myaccountSubMenu {
  background-color: #004b98;
  color: #ffffff;
}
#myaccountSubMenu:hover,
#myaccountSubMenu:active {
  background-color: #3c63ab;
  color: #ffffff;
}
/*#endregion */
/*#region Hot Button */
.hotButton {
  padding: 0px 25px 0px 25px;
  height: 30px;
  border: 0px;
  border-radius: 0px;
  background-color: #3a78bd !important;
  color: White !important;
  font-size: 19px;
}
.applyBtn {
  border: 0px;
  border-radius: 0px;
}
.cancelBtn {
  border: 0px;
  border-radius: 0px;
}
/*#endregion */
/*#region Tab style  */
.nav-tab-new > li > a {
  border: 1px solid #C1B7AB !important;
  background: #c9c7c5 !important;
}
.nav-tab-new > .active > a,
.nav-tab-new > .active > a:hover,
.nav-tab-new > .active > a:focus {
  background: none repeat scroll 0 0 #f0eeeb !important;
}
/*#endregion */
/*#region Content Area */
.contentAreaWithoutDenimBackground {
  background: #f5f5f5 !important;
}
.PageTitle {
  color: #000 !important;
}
/*#endregion */
/*#region KoGrid style */
.gridOptionalHeader {
  background: #ececec;
}
.kgGroupPanel,
.kgHeaderContainer,
.kgHeaderCell,
.kgTopPanel {
  background-color: #dadada !important;
  color: #004b98;
}
.kgFooterPanel {
  background-color: #004b98 !important;
  color: #004b98;
}
.kgLabel,
.pageDropdownLabel {
  color: #ffffff !important;
}
.kgHeaderButton {
  color: #ffffff !important;
}
.gridHeader {
  background-color: #004b98;
}
#gridTitleHeaderDiv > .PageTitle {
  color: #ffffff !important;
}
/*#endregion KoGrid style */
/*#region Calendar control */
.daterangepicker {
  background: none repeat scroll 0 0 #3f4c5c;
  color: #000000;
}
.daterangepicker.opensright:after {
  border-bottom: 6px solid #3f4c5c;
}
.daterangepicker .ranges li {
  background: none repeat scroll 0 0 #3f4c5c;
  color: white;
}
.daterangepicker .ranges li.active,
.daterangepicker .ranges li:hover {
  background: none repeat scroll 0 0 #506a77;
  color: white;
}
.daterangepicker td.active,
.daterangepicker td.active:hover {
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  background-color: #3f4c5c;
  background-image: linear-gradient(to bottom, #3f4c5c, #3f4c5c);
  color: #FFFFFF;
}
.daterangepicker td.available:hover {
  background: #506a77;
  color: #fff;
}
.daterangepicker td.in-range {
  background: #d1dbe3;
}
.daterangepicker .calendar-ranges input.active {
  border: 1px solid #3f4c5c;
  background: #3f4c5c;
  color: #fff;
}
.daterangepicker .calendar-ranges span,
.daterangepicker .calendar-ranges span.active {
  color: white;
}
/*#endregion */
/* #region online payment flow indicator arrows*/
.onlineArrow {
  background: #D8D8D8;
  color: #999999;
}
.onlineArrow::after {
  border-left-color: #D8D8D8;
  color: #999999;
}
.onlineArrowActive {
  background-color: #004b98;
  color: #ffffff;
}
.onlineArrowActive::after {
  border-left-color: #004b98;
}
/* #endregion online payment flow indicator arrows*/
/*#region Account management tab background and font color */
.settings-tabs-account > .active > a,
.settings-tabs-account > .active > a:hover,
.settings-tabs-account > .active > a:focus {
  background-color: #f0eeeb;
  color: #555 !important;
}
.settings-tabs-account > li > a,
.settings-tabs-account > li > a:hover {
  background: #c9c7c5;
  color: black !important;
}
/*#endregion */
/*#region Chat Control UI */
.chatOnlineStatusBlock {
  background-color: #004b98;
}
.chatUserBlock {
  background-color: #004b98;
}
.chatCaret:before {
  border-bottom-color: #fff;
}
.chatCaret:after {
  border-bottom-color: #004b98;
}
#chatText {
  color: #000000;
}
/*#chatText a {
		color: @chatBoxText;
	}*/
#chatText a:hover {
  color: #000000;
}
.chat-reconnecting {
  color: #000000 !important;
}
.chatboxhead {
  background-color: #004b98 !important;
}
.chatboxblink {
  border-right: 1px solid #f99d39 !important;
  border-left: 1px solid #f99d39 !important;
  background-color: #f99d39 !important;
}
.dropdownChat-menu {
  background-color: #004b98 !important;
}
.btn-checkbox.active {
  /*border-color: @contentBackground;*/

  background-color: #004b98 !important;
  /*color: @menuText;*/

  font-weight: normal;
}
/*#endregion */
/*#region LTL Flow Breadcrumb */
#breadcrumb {
  border: 1px solid white;
  color: #999999;
}
#breadcrumb > a {
  background: #d8d8d8;
  color: #999999;
}
#breadcrumb > a:before {
  border-color: #d8d8d8;
  border-left-color: transparent;
}
#breadcrumb > a:after {
  border-left-color: #d8d8d8;
}
#breadcrumb > .currentOrPreviousPage {
  background: #004b98;
  color: #ffffff;
}
#breadcrumb > .currentOrPreviousPage:before {
  border-color: #004b98;
  border-left-color: transparent;
}
#breadcrumb > .currentOrPreviousPage:after {
  border-left-color: #004b98;
}
/*#endregion LTL Flow breadCrumb*/
/*#region for modal pop-ups and popover*/
.custom-modal-header {
  background: #004b98 !important;
}
.custom-modal-header-text {
  color: #ffffff !important;
}
.popover-title {
  background: #004b98 !important;
  color: #ffffff !important;
}
.popover.right .arrow {
  border-right-color: #004b98 !important;
}
.popover.right .arrow:after {
  border-right-color: #004b98 !important;
}
.popover.top .arrow {
  border-top-color: #004b98 !important;
}
.popover-content {
  border: 2px solid #004b98 !important;
}
.popover.left .arrow {
  border-left-color: #004b98 !important;
}
.popover.left .arrow:after {
  border-left-color: #004b98 !important;
}
.popover.bottom .arrow {
  border-bottom-color: #004b98 !important;
}
.popover.bottom .arrow:after {
  border-bottom-color: #004b98 !important;
}
/*#endregion for modal pop-ups and popover*/
/*#region Action Buttons */
.successbtn {
  background: #00a651 !important;
}
.cacnelbtn {
  background: #e6e6e6 !important;
}
/*#endregion Action Buttons*/
/*#region Forms*/
.rowContainer,
.rowContainerForLineItems {
  background: #d6d6d6 !important;
}
/*#endregion Form*/
/*#region vertical grid CSS*/
.verticalGridRow:nth-child(2),
.verticalGridColumn:nth-child(2n):first-child {
  background: #ececec !important;
}
.verticalGridColumn:nth-of-type(odd) {
  background: #3c63ab;
}
.verticalGridColumn:nth-child(2n) {
  background: #004b98;
}
.alignGridAndPager {
  background: #004b98;
}
/*#endregion vertical grid css*/
/*#region Account summary*/
.accountSummaryContainer {
  background: #ececec !important;
}
.accountSummaryContainer > div,
.accountSummaryContainer > div > div {
  color: #000000 !important;
}
/*#endregion Account Summary*/
/*#endregion classes and id for css */