<div class="">
	<div class="pull-left margin-right-10">
		<!--<label class="control-label" style="margin-bottom: 0px; margin-top: 8px;">&nbsp;</label>-->
		<div id="reportrange" class="btn-group btn-daterange-picker pull-left" data-bind="daterangepicker: dateRangePickerValue, daterangepickerOptions: dateRangePickerOptions, disableAllElements: enableDateSelection">
			<button class="btn btn-default btn-sm dropdown-toggle pull-left" type="button" style="min-width: 185px">
				<!--<i class="glyphicon glyphicon-calendar icon-calendar icon-large"></i>-->
				<span class="daterange pull-left"></span>
			</button>
			<button type="button" class="btn pull-right">
				<span class="caret"></span>
			</button>
		</div>
	</div>
</div>