<div data-bind="if: isHorizontalView ">
	<div id="HorizontalOptionButtonGroup" class="foreign-bol-btn-group" data-bind="foreach: optionList">
		<button type="button" class=" flatButton btn btn-checkbox active" data-bind="text: name, css: { active: selected }, html: $parent.useHtmlBinding() ? html() : name, enable: enabled, click: $parent.selectOption">
		</button>
	</div>
</div>
<div data-bind="if: isVerticalView ">
	<ul id="VerticalOptionButtonGroup" class="nav btn-group" data-bind="foreach: optionList">
		<li class="vertical-option-button">
			<button type="button" class="flatButton btn btn-checkbox btn-checkbox-sharp active" data-bind="text: name, css: { active: selected }, html: $parent.useHtmlBinding() ? html() : name, enable: enabled, click: $parent.selectOption, attr: { tabindex: $parent.isTabIndex() ? 0 : -1 }">
			</button>
			<div data-bind="style: { height: $parent.verticalControlSpace }"></div>
		</li>
	</ul>
</div>
<div data-bind="if: isMatrix">
	<div id="matrixOptionButtonGroup" class="btn-group" data-bind="foreach: optionList">

		<button type="button" style="width: 126px; margin: 1px 2px 2px 1px" class=" flatButton btn btn-checkbox active" data-bind="text: name, css: { active: selected }, html: $parent.useHtmlBinding() ? html() : name, enable: enabled, click: $parent.selectOption, attr: { tabindex: $parent.isTabIndex() ? 0 : -1 }">
		</button>
		<!-- ko if: ($index()%2) -->
		<br />
		<!--/ko-->
	</div>
</div>