<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
    <configSections>
        <section name="simplexSecurity" type="AmadeusConsulting.Simplex.Security.Configuration, Amadeus.Simplex.Base" />
        <section name="apiSecurity" type="Hermes.WebApi.Core.Security.Configuration, Hermes.WebApi.Core" />
      <section name="componentPaths" type="Atlas.Core.Component.ComponentPathsConfigurationSection, Hermes.WebApi.Extensions, Version=1.0.0.0, Culture=neutral" />
    </configSections>
    <simplexSecurity authenticationConnectionStringName="auth" authorizationConnectionStringName="auth" />
  <apiSecurity enableBasicAuthentication="true" enableAuthentication="true" enableHermesAuthorization="true" path="bin" suppressException="false" authCookieName="SimplexAuth" />
    <connectionStrings>
        <add name="auth" connectionString="Server=172.30.255.28\MSSQLSERVER,1433;initial catalog=GTCommon;Integrated Security=SSPI;" />
        <add name="default" connectionString="Server=172.30.255.28\MSSQLSERVER,1433;initial catalog=GTCommon;Integrated Security=SSPI;" />
    <add name="GTCommon" connectionString="Server=172.30.255.28\MSSQLSERVER,1433;initial catalog=GTCommon;Integrated Security=SSPI;" />
    </connectionStrings>
    <appSettings>
        <add key="SimplexEncryptionKey" value="F04176D9D62BD2437DC837C243722D8C572597DC9820A4C0876843F75B575A2B" />
        <add key="SimplexEncryptionIv" value="A2D8227F9F962C00E606D1FD96BAFD42" />
    </appSettings>
   <componentPaths>
		<!-- Internal Component Keys Start -->
		 <add name="AuditEngine" url="http://gtz-int-app-01.cloudapp.net:8080/AtlasInternal/AuditEngine" cookieDomain=".cloudapp.net" />
		 <add name="RatingEngine" url="http://gtz-int-app-01.cloudapp.net:8080/AtlasInternal/RatingEngine" cookieDomain=".cloudapp.net" />
		 <add name="RatingCenterParsingEngine" url="http://gtz-int-app-01.cloudapp.net:8080/AtlasInternal/ParsingEngine" cookieDomain=".cloudapp.net" />
		 <add name="RatingCenterService" url="http://gtz-int-app-01.cloudapp.net:8080/AtlasInternal/RatingCenterService" cookieDomain=".cloudapp.net" />
		 
		 <add name="Falvey" url="http://gtz-int-app-01.cloudapp.net:8080/AtlasInternal/FalveyThirdPartyService" cookieDomain=".cloudapp.net" />
		 <add name="Logger" url="http://gtz-int-app-01.cloudapp.net:8080/AtlasInternal/Logger" cookieDomain=".cloudapp.net" />
		 <add name="PCMiler" url="http://gtz-int-app-01.cloudapp.net:8080/AtlasInternal/PCMilerThirdPartyService" cookieDomain=".cloudapp.net" />
		 <add name="SMC3" url="http://gtz-int-app-01.cloudapp.net:8080/AtlasInternal/SMC3ThirdPartyService" cookieDomain=".cloudapp.net" />
		 <add name="BarcodeGenerator" url="http://gtz-int-app-01.cloudapp.net:8080/AtlasInternal/BarcodeGenerator" cookieDomain=".cloudapp.net" />
		 <add name="CommonServerManagement" url="http://gtz-int-app-01.cloudapp.net:8080/AtlasInternal/CommonServerManagement" cookieDomain=".cloudapp.net" />
		 <add name="DataMart" url="http://gtz-int-app-01.cloudapp.net:8080/AtlasInternal/DataMart" cookieDomain=".cloudapp.net" />
		 <add name="DocumentManagement" url="http://localhost:80/hermes/API/Document" />
		 <add name="LegacyService" url="http://gtz-int-app-01.cloudapp.net:8080/AtlasInternal/LegacyService" cookieDomain=".cloudapp.net" />
		 <add name="Mail" url="http://gtz-proj-cc2-01.cloudapp.net/atlas/Mail" cookieDomain=".cloudapp.net" />
		 <add name="MASExtensions" url="http://gtz-int-app-01.cloudapp.net:8080/AtlasInternal/MASExtensions" cookieDomain=".cloudapp.net" />
		 <add name="NotificationComponent" url="http://gtz-int-app-01.cloudapp.net:8080/AtlasInternal/NotificationComponent" cookieDomain=".cloudapp.net" />
		 <add name="NotificationManagement" url="http://gtz-int-app-01.cloudapp.net:8080/AtlasInternal/NotificationManagement" cookieDomain=".cloudapp.net" />
		 <add name="ShipperMasterData" url="http://gtz-int-app-01.cloudapp.net:8080/AtlasInternal/ShipperMasterData" cookieDomain=".cloudapp.net" />
		 <add name="Search" url="http://gtz-int-app-01.cloudapp.net:8080/AtlasInternal/Search" username="ESIndexDataUser" password="ESIndexDataUser123 " cookieDomain=".cloudapp.net" />
		 <add name="SystemHistory" url="http://gtz-int-app-01.cloudapp.net:8080/AtlasInternal/SystemHistory" cookieDomain=".cloudapp.net" />
		 <add name="ETender" url="http://gtz-int-app-01.cloudapp.net:8080/AtlasInternal/ETender" cookieDomain=".cloudapp.net" />
		 <add name="VPTLAutomation" url="http://gtz-int-app-01.cloudapp.net:8080/AtlasInternal/VPTLAutomation" cookieDomain=".cloudapp.net" />
		 <add name="AgentDashboardServices" url="http://gtz-int-app-01.cloudapp.net:8080/AtlasInternal/AgentDashboardServices" cookieDomain=".cloudapp.net" />
		 <add name="PODProcessManagement" url="http://gtz-int-app-01.cloudapp.net:8080/AtlasInternal/PODProcessManagement" cookieDomain=".cloudapp.net" />
		 <!-- Internal Component Keys End -->
		 
		 <!-- External Component Keys Start -->
		 <add name="RatingCenter" url="http://gtz-int-app-01.cloudapp.net/atlas/RatingCenter" cookieDomain=".cloudapp.net" />
		 <add name="RatingEngineTestApp" url="http://gtz-int-app-01.cloudapp.net/atlas/RatingEngineTestApp" cookieDomain=".cloudapp.net" />	
		 <add name="Accounting" url="http://gtz-int-app-01.cloudapp.net/atlas/Accounting" cookieDomain=".cloudapp.net" />
		 <add name="Boards" url="http://gtz-int-app-01.cloudapp.net/atlas/boards" cookieDomain=".cloudapp.net" />
		 <add name="CommandCenter" url="http://gtz-int-app-01.cloudapp.net/CommandCenter/Service" cookieDomain=".cloudapp.net" />
		 <add name="CustomerManagement" url="http://gtz-int-app-01.cloudapp.net/atlas/CustomerManagement" cookieDomain=".cloudapp.net" />
		 <add name="QBM" url="http://gtz-int-app-01.cloudapp.net/atlas/QuoteManagement" cookieDomain=".cloudapp.net" />
		 <add name="ShipperCenter" url="http://gtz-int-app-01.cloudapp.net/shippercenterservice" cookieDomain=".cloudapp.net" />
		 <add name="UserManagement" url="http://gtz-int-app-01.cloudapp.net/atlas/UserManagement" cookieDomain=".cloudapp.net" />
		 <!-- External Component Keys End -->
	</componentPaths>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" maxRequestLength="20971520" />
	</system.web>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <system.webServer>
        <handlers>
            <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
            <remove name="OPTIONSVerbHandler" />
            <remove name="TRACEVerbHandler" />
            <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
        </handlers>
			<security>
				<requestFiltering>
					<requestLimits maxAllowedContentLength="1073741824" />
				</requestFiltering>
			</security>
    </system.webServer>
</configuration>