@using System.Configuration
<div class="row-fluid" data-bind="showContentProgress: true, contentProgressOptions: { showProgressBar: true, opacity: 0.5, height: 1000 }">
	<div class="navBackground"></div>
	<div class="progress" style="text-align: center; opacity: 1; background-color: white; height: 1000px; width: 100%; background: repeat center;">
		<div style="width: 100%; text-align: center; vertical-align: central; font-style: italic; font-size: 16px; color: white; margin-top: 22%;">
			One Moment Please
		<br />
		</div>
	</div>
</div>